{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Cake: {{cake.name}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update Base Cake" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}
