{{#extends 'base'}}

{{#block 'content'}}
<h1>User Profile</h1>
<ul>
    <li>firstname: {{user.firstname}}</li>
    <li>firstname: {{user.lastname}}</li>
    <li>Email:{{user.email}}</li>
</ul>

{{/block}}

{{/extends}}
